body{
  margin:0 auto;
  padding:0;
  width:100%;
}

.gridContainer {
  width:95%;
  margin:0 auto;
  border: 1px solid gray;

  .rowHeader {
    font-weight: bold;
  }

  .row {
    width:100%;
    border: 1px solid gray;
    box-sizing: border-box;
  }

  .col {
    display:inline-block;
    width: 25%;
    border: 1px solid gray;
    box-sizing: border-box;
    padding:2px;
  }

}
